{
  "openapi": "3.0.3",
  "info": {
    "title": "1010data API",
    "description": "API for accessing Dollar General analytics",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://dolgen.1010data.com"
    }
  ],
  "paths": {
    "/beta-20.05/api/!login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "login",
        "description": "login",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kill": {
                    "type": "string",
                    "example": "possess"
                  },
                  "pw": {
                    "type": "string",
                    "example": "1010_password"
                  },
                  "uid": {
                    "type": "string",
                    "example": "1010_uid"
                  }
                }
              },
              "examples": {
                "login": {
                  "value": {
                    "kill": "possess",
                    "pw": "1010_password",
                    "uid": "1010_uid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success response (w/ cookies)",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 27 Feb 2024 17:51:24 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=18000"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "vaprod_session=dg_dmar|1915304513|_______ecc5acc5a11f383dbd6f1078b0d7e7c20fa0ec31c97182eb27ec448b5c6ae2f125fc531efee8ba777167c61bf0a798245d6d3c0e53947a1194e85f93ff86d7f8; Path=/; HttpOnly; Domain=.1010data.com; Secure"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "epw": {
                      "type": "string",
                      "example": "_______ecc5acc5a11f383dbd6f1078b0d7e7c20fa0ec31c97182eb27ec448b5c6ae2f125fc531efee8ba777167c61bf0a798245d6d3c0e53947a1194e85f93ff86d7f8"
                    },
                    "sid": {
                      "type": "string",
                      "example": "1915304513"
                    },
                    "uid": {
                      "type": "string",
                      "example": "dg_dmar"
                    }
                  }
                },
                "examples": {
                  "success response (w/ cookies)": {
                    "value": {
                      "epw": "_______ecc5acc5a11f383dbd6f1078b0d7e7c20fa0ec31c97182eb27ec448b5c6ae2f125fc531efee8ba777167c61bf0a798245d6d3c0e53947a1194e85f93ff86d7f8",
                      "sid": "1915304513",
                      "uid": "dg_dmar"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/beta-20.05/api/cip.dev.v4_15.misc.rb3.api.momos/scr:json.keyed": {
      "post": {
        "tags": [
          "Tender Type Analysis"
        ],
        "summary": "Tender Trend",
        "description": "Tender Trend",
        "operationId": "tenderTrend",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "object",
                    "properties": {
                      "dates": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "array",
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "l13"
                                },
                                "example": [
                                  "l13"
                                ]
                              },
                              "example": [
                                [
                                  "l13"
                                ]
                              ]
                            }
                          }
                        },
                        "example": [
                          {
                            "value": [
                              [
                                "l13"
                              ]
                            ]
                          }
                        ]
                      },
                      "filters": {
                        "type": "object",
                        "properties": {
                          "product": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "col": {
                                  "type": "string",
                                  "example": "class"
                                },
                                "ops": {
                                  "type": "string",
                                  "example": "="
                                },
                                "path": {
                                  "type": "string",
                                  "example": ""
                                },
                                "values": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "1142"
                                  },
                                  "example": [
                                    "1142"
                                  ]
                                }
                              }
                            },
                            "example": [
                              {
                                "col": "class",
                                "ops": "=",
                                "path": "",
                                "values": [
                                  "1142"
                                ]
                              }
                            ]
                          }
                        }
                      },
                      "groups": {
                        "type": "object",
                        "properties": {
                          "col": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "col_dims": {
                            "type": "object",
                            "properties": {}
                          },
                          "rollup": {
                            "type": "object",
                            "properties": {
                              "col": {
                                "type": "string",
                                "example": "0"
                              },
                              "row": {
                                "type": "string",
                                "example": "0"
                              }
                            }
                          },
                          "row": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "tenddesc"
                            },
                            "example": [
                              "tenddesc"
                            ]
                          },
                          "row_dims": {
                            "type": "object",
                            "properties": {
                              "tender": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "tenddesc"
                                },
                                "example": [
                                  "tenddesc"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "metrics": {
                        "type": "object",
                        "properties": {
                          "sales": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string",
                                  "example": "sales"
                                }
                              }
                            },
                            "example": [
                              {
                                "value": "sales"
                              },
                              {
                                "value": "units"
                              },
                              {
                                "value": "baskets"
                              },
                              {
                                "value": "stores"
                              }
                            ]
                          }
                        }
                      },
                      "report": {
                        "type": "object",
                        "properties": {
                          "chg": {
                            "type": "string",
                            "example": "pct"
                          },
                          "sort": {
                            "type": "string",
                            "example": "period"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "More Metrics": {
                  "value": {
                    "input": {
                      "dates": [
                        {
                          "value": [
                            [
                              "l13"
                            ]
                          ]
                        }
                      ],
                      "filters": {
                        "product": [
                          {
                            "col": "class",
                            "ops": "=",
                            "path": "",
                            "values": [
                              "1142"
                            ]
                          }
                        ]
                      },
                      "groups": {
                        "col": [],
                        "col_dims": {},
                        "rollup": {
                          "col": "0",
                          "row": "0"
                        },
                        "row": [
                          "tenddesc"
                        ],
                        "row_dims": {
                          "tender": [
                            "tenddesc"
                          ]
                        }
                      },
                      "metrics": {
                        "sales": [
                          {
                            "value": "sales"
                          },
                          {
                            "value": "units"
                          },
                          {
                            "value": "baskets"
                          },
                          {
                            "value": "stores"
                          }
                        ]
                      },
                      "report": {
                        "chg": "pct",
                        "sort": "period"
                      }
                    }
                  }
                },
                "States": {
                  "value": {
                    "input": {
                      "dates": [
                        {
                          "value": [
                            [
                              "l13"
                            ]
                          ]
                        }
                      ],
                      "filters": {
                        "product": [
                          {
                            "col": "class",
                            "ops": "=",
                            "path": "",
                            "values": [
                              "1142"
                            ]
                          }
                        ]
                      },
                      "groups": {
                        "col": [],
                        "col_dims": {},
                        "rollup": {
                          "col": "0",
                          "row": "0"
                        },
                        "row": [
                          "state",
                          "tenddesc"
                        ],
                        "row_dims": {
                          "store": [
                            "state"
                          ],
                          "tender": [
                            "tenddesc"
                          ]
                        }
                      },
                      "metrics": {
                        "sales": [
                          {
                            "value": "sales"
                          }
                        ]
                      },
                      "report": {
                        "chg": "pct",
                        "sort": "period"
                      }
                    }
                  }
                },
                "Tender Trend": {
                  "value": {
                    "input": {
                      "dates": [
                        {
                          "value": [
                            [
                              "l13"
                            ]
                          ]
                        }
                      ],
                      "filters": {
                        "product": [
                          {
                            "col": "class",
                            "ops": "=",
                            "path": "",
                            "values": [
                              "1142"
                            ]
                          }
                        ]
                      },
                      "groups": {
                        "col": [],
                        "col_dims": {},
                        "rollup": {
                          "col": "0",
                          "row": "0"
                        },
                        "row": [
                          "fweek",
                          "tenddesc"
                        ],
                        "row_dims": {
                          "calendar": [
                            "fweek"
                          ],
                          "tender": [
                            "tenddesc"
                          ]
                        }
                      },
                      "metrics": {
                        "sales": [
                          {
                            "value": "sales"
                          }
                        ]
                      },
                      "report": {
                        "chg": "pct",
                        "sort": "period"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success response / success response / success response",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "677"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 27 Feb 2024 18:21:47 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=18000"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fweek_calendar": {
                        "type": "number",
                        "example": 1
                      },
                      "sales_sales": {
                        "type": "number",
                        "example": 558486.3600000045
                      },
                      "tenddesc_tender": {
                        "type": "string",
                        "example": "MasterCard"
                      }
                    }
                  },
                  "example": [
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 558486.3600000045,
                      "tenddesc_tender": "MasterCard"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 2910887.2899999227,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 976075.1299999919,
                      "tenddesc_tender": "EBT FOOD (SNAP)"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 2281987.0699999523,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 848081.3999999996,
                      "tenddesc_tender": "Visa"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 1464630.5399999728,
                      "tenddesc_tender": "MasterCard/Debit"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 24764.63000000001,
                      "tenddesc_tender": "Organization Charge"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 7573.959999999998,
                      "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 60479.819999999985,
                      "tenddesc_tender": "Other"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 93492.05999999994,
                      "tenddesc_tender": "Discover Card"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 64406.82999999997,
                      "tenddesc_tender": "American Express"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 16640.23,
                      "tenddesc_tender": "Discover/Debit"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 3226.6700000000014,
                      "tenddesc_tender": "DG ICM Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 562.5400000000001,
                      "tenddesc_tender": "Charged Sales"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 46.400000000000006,
                      "tenddesc_tender": "Debit Card"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 4.46,
                      "tenddesc_tender": "Check"
                    },
                    {
                      "fweek_calendar": 1,
                      "sales_sales": 8,
                      "tenddesc_tender": "Coupon"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 965197.9699999981,
                      "tenddesc_tender": "EBT FOOD (SNAP)"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 2645068.239999933,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 2054927.7899999544,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 1296260.0499999884,
                      "tenddesc_tender": "MasterCard/Debit"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 521874.930000004,
                      "tenddesc_tender": "MasterCard"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 799346.1900000044,
                      "tenddesc_tender": "Visa"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 88429.79999999992,
                      "tenddesc_tender": "Discover Card"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 58627.12999999999,
                      "tenddesc_tender": "American Express"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 35855.750000000015,
                      "tenddesc_tender": "Other"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 22783.6,
                      "tenddesc_tender": "Organization Charge"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 2439.33,
                      "tenddesc_tender": "DG ICM Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 15220.149999999998,
                      "tenddesc_tender": "Discover/Debit"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 2596.6899999999996,
                      "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 868.6999999999998,
                      "tenddesc_tender": "Charged Sales"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 89.68,
                      "tenddesc_tender": "Debit Card"
                    },
                    {
                      "fweek_calendar": 2,
                      "sales_sales": 3.75,
                      "tenddesc_tender": "Coupon"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 2880583.069999918,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 2182425.759999946,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 1410784.9199999757,
                      "tenddesc_tender": "MasterCard/Debit"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 838260.8300000055,
                      "tenddesc_tender": "Visa"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 556550.5800000048,
                      "tenddesc_tender": "MasterCard"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 91332.22999999984,
                      "tenddesc_tender": "Discover Card"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 848518.5999999979,
                      "tenddesc_tender": "EBT FOOD (SNAP)"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 75496.13999999994,
                      "tenddesc_tender": "American Express"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 17573.92,
                      "tenddesc_tender": "Discover/Debit"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 25231.660000000007,
                      "tenddesc_tender": "Organization Charge"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 26488.370000000017,
                      "tenddesc_tender": "Other"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 2960.81,
                      "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 2598.03,
                      "tenddesc_tender": "DG ICM Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 8,
                      "tenddesc_tender": "Coupon"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 538.6600000000001,
                      "tenddesc_tender": "Charged Sales"
                    },
                    {
                      "fweek_calendar": 3,
                      "sales_sales": 57.349999999999994,
                      "tenddesc_tender": "Debit Card"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 2225821.479999942,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 819059.7500000008,
                      "tenddesc_tender": "Visa"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 530340.090000006,
                      "tenddesc_tender": "MasterCard"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 2766031.099999972,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 594372.1300000033,
                      "tenddesc_tender": "EBT FOOD (SNAP)"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 1346953.239999951,
                      "tenddesc_tender": "MasterCard/Debit"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 14800.730000000003,
                      "tenddesc_tender": "Discover/Debit"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 92273.53999999976,
                      "tenddesc_tender": "Discover Card"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 58107.19999999992,
                      "tenddesc_tender": "American Express"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 26036.600000000017,
                      "tenddesc_tender": "Organization Charge"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 22457.20999999996,
                      "tenddesc_tender": "Other"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 2048.85,
                      "tenddesc_tender": "DG ICM Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 3770.55,
                      "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 85.63999999999999,
                      "tenddesc_tender": "Debit Card"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 586.2000000000002,
                      "tenddesc_tender": "Charged Sales"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 12.8,
                      "tenddesc_tender": "Check"
                    },
                    {
                      "fweek_calendar": 43,
                      "sales_sales": 2.75,
                      "tenddesc_tender": "Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 2753324.4699999173,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 912470.3599999947,
                      "tenddesc_tender": "EBT FOOD (SNAP)"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 1376123.7899999702,
                      "tenddesc_tender": "MasterCard/Debit"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 546437.6900000056,
                      "tenddesc_tender": "MasterCard"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 2230525.7497999277,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 813923.2500000055,
                      "tenddesc_tender": "Visa"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 93914.69999999984,
                      "tenddesc_tender": "Discover Card"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 38857.22,
                      "tenddesc_tender": "Other"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 57700.670000000035,
                      "tenddesc_tender": "American Express"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 7710.569999999999,
                      "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 26936.400000000016,
                      "tenddesc_tender": "Organization Charge"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 15451.93,
                      "tenddesc_tender": "Discover/Debit"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 2318.9600000000005,
                      "tenddesc_tender": "DG ICM Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 649.5500000000001,
                      "tenddesc_tender": "Charged Sales"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 97.69999999999999,
                      "tenddesc_tender": "Debit Card"
                    },
                    {
                      "fweek_calendar": 44,
                      "sales_sales": 1.25,
                      "tenddesc_tender": "Check"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 2131686.2098999275,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 1283273.2399999874,
                      "tenddesc_tender": "MasterCard/Debit"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 1034521.6799999996,
                      "tenddesc_tender": "EBT FOOD (SNAP)"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 2634307.789999909,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 521646.5600000051,
                      "tenddesc_tender": "MasterCard"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 58694.30999999999,
                      "tenddesc_tender": "American Express"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 809748.0200000084,
                      "tenddesc_tender": "Visa"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 93102.1499999999,
                      "tenddesc_tender": "Discover Card"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 25198.06000000001,
                      "tenddesc_tender": "Organization Charge"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 14108.62,
                      "tenddesc_tender": "Discover/Debit"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 19152.570000000007,
                      "tenddesc_tender": "Other"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 3006.9800000000005,
                      "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 2497.0700000000006,
                      "tenddesc_tender": "DG ICM Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 84.25,
                      "tenddesc_tender": "Debit Card"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 542.0500000000001,
                      "tenddesc_tender": "Charged Sales"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 12.05,
                      "tenddesc_tender": "Check"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 15.2,
                      "tenddesc_tender": "Coupon"
                    },
                    {
                      "fweek_calendar": 45,
                      "sales_sales": 3.75,
                      "tenddesc_tender": "Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 795994.410000006,
                      "tenddesc_tender": "Visa"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 881817.2900000016,
                      "tenddesc_tender": "EBT FOOD (SNAP)"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 2147517.299999936,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 2582056.749999923,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 1231193.6499999936,
                      "tenddesc_tender": "MasterCard/Debit"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 511051.47000000416,
                      "tenddesc_tender": "MasterCard"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 60774.730000000025,
                      "tenddesc_tender": "American Express"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 91484.3899999999,
                      "tenddesc_tender": "Discover Card"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 3525.339999999999,
                      "tenddesc_tender": "DG ICM Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 22889.570000000007,
                      "tenddesc_tender": "Organization Charge"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 14122.179999999998,
                      "tenddesc_tender": "Discover/Debit"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 12741.409999999996,
                      "tenddesc_tender": "Other"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 2411.96,
                      "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 39.75,
                      "tenddesc_tender": "Debit Card"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 448.38999999999993,
                      "tenddesc_tender": "Charged Sales"
                    },
                    {
                      "fweek_calendar": 46,
                      "sales_sales": 6,
                      "tenddesc_tender": "Check"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 67603.30999999997,
                      "tenddesc_tender": "Discover Card"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 513997.0500000024,
                      "tenddesc_tender": "EBT FOOD (SNAP)"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 654086.1500000034,
                      "tenddesc_tender": "Visa"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 2285809.409999947,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 12589.26,
                      "tenddesc_tender": "Discover/Debit"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 2079055.499999959,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 1055077.229999991,
                      "tenddesc_tender": "MasterCard/Debit"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 427769.9500000032,
                      "tenddesc_tender": "MasterCard"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 50357.780000000035,
                      "tenddesc_tender": "American Express"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 16264.010000000004,
                      "tenddesc_tender": "Organization Charge"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 8374.759999999998,
                      "tenddesc_tender": "Other"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 7618.44,
                      "tenddesc_tender": "DG ICM Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 1701.64,
                      "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 207.9,
                      "tenddesc_tender": "Charged Sales"
                    },
                    {
                      "fweek_calendar": 47,
                      "sales_sales": 80.7,
                      "tenddesc_tender": "Debit Card"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 2817840.999999952,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 1385132.889999968,
                      "tenddesc_tender": "MasterCard/Debit"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 2446683.5999999573,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 739130.6599999927,
                      "tenddesc_tender": "EBT FOOD (SNAP)"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 53013.45,
                      "tenddesc_tender": "American Express"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 518101.930000003,
                      "tenddesc_tender": "MasterCard"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 784162.3000000005,
                      "tenddesc_tender": "Visa"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 56526.99999999997,
                      "tenddesc_tender": "Other"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 23819.01000000001,
                      "tenddesc_tender": "Organization Charge"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 8582.86,
                      "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 15373.240000000003,
                      "tenddesc_tender": "Discover/Debit"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 81136.9399999999,
                      "tenddesc_tender": "Discover Card"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 7185.720000000001,
                      "tenddesc_tender": "DG ICM Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 894.8599999999999,
                      "tenddesc_tender": "Charged Sales"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 105.03,
                      "tenddesc_tender": "Debit Card"
                    },
                    {
                      "fweek_calendar": 48,
                      "sales_sales": 47.65000000000003,
                      "tenddesc_tender": "Coupon"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 2359485.219999955,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 1112532.069999984,
                      "tenddesc_tender": "EBT FOOD (SNAP)"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 871414.8300000003,
                      "tenddesc_tender": "Visa"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 3021905.299999961,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 60479.41999999998,
                      "tenddesc_tender": "American Express"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 1522816.6799999613,
                      "tenddesc_tender": "MasterCard/Debit"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 579002.5200000033,
                      "tenddesc_tender": "MasterCard"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 36415.68,
                      "tenddesc_tender": "Other"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 96135.08999999985,
                      "tenddesc_tender": "Discover Card"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 4835.64,
                      "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 27557.23000000001,
                      "tenddesc_tender": "Organization Charge"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 17256.320000000003,
                      "tenddesc_tender": "Discover/Debit"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 5185.619999999999,
                      "tenddesc_tender": "DG ICM Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 158.39,
                      "tenddesc_tender": "Debit Card"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 0.060000000000000005,
                      "tenddesc_tender": "Coupon"
                    },
                    {
                      "fweek_calendar": 49,
                      "sales_sales": 421.1,
                      "tenddesc_tender": "Charged Sales"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 1451097.9999999618,
                      "tenddesc_tender": "MasterCard/Debit"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 2190770.8399999635,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 2997588.349999985,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 577494.6900000026,
                      "tenddesc_tender": "MasterCard"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 1010393.7199999858,
                      "tenddesc_tender": "EBT FOOD (SNAP)"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 850417.6999999993,
                      "tenddesc_tender": "Visa"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 61794.13999999997,
                      "tenddesc_tender": "American Express"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 3904.749999999999,
                      "tenddesc_tender": "DG ICM Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 27310.13000000001,
                      "tenddesc_tender": "Other"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 90429.02999999984,
                      "tenddesc_tender": "Discover Card"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 17901.240000000005,
                      "tenddesc_tender": "Discover/Debit"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 22106.810000000012,
                      "tenddesc_tender": "Organization Charge"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 3181.280000000001,
                      "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 156.48,
                      "tenddesc_tender": "Debit Card"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 418.4899999999999,
                      "tenddesc_tender": "Charged Sales"
                    },
                    {
                      "fweek_calendar": 50,
                      "sales_sales": 10.9,
                      "tenddesc_tender": "Coupon"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 772365.3499999918,
                      "tenddesc_tender": "EBT FOOD (SNAP)"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 1357877.7799999476,
                      "tenddesc_tender": "MasterCard/Debit"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 2147777.7499999646,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 2801887.990000037,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 818498.3899999941,
                      "tenddesc_tender": "Visa"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 62093.09999999993,
                      "tenddesc_tender": "American Express"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 88647.2199999998,
                      "tenddesc_tender": "Discover Card"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 563652.2800000029,
                      "tenddesc_tender": "MasterCard"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 24470.59000000001,
                      "tenddesc_tender": "Organization Charge"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 23999.84000000001,
                      "tenddesc_tender": "Other"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 16113.679999999998,
                      "tenddesc_tender": "Discover/Debit"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 2984.5199999999995,
                      "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 3600.4399999999996,
                      "tenddesc_tender": "DG ICM Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 708.8,
                      "tenddesc_tender": "Charged Sales"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 94.45000000000002,
                      "tenddesc_tender": "Debit Card"
                    },
                    {
                      "fweek_calendar": 51,
                      "sales_sales": 46.05,
                      "tenddesc_tender": "Coupon"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 2352062.939999955,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 2976867.0999999577,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 1457552.2299999597,
                      "tenddesc_tender": "MasterCard/Debit"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 858372.7999999975,
                      "tenddesc_tender": "Visa"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 567916.7500000029,
                      "tenddesc_tender": "MasterCard"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 93133.76999999987,
                      "tenddesc_tender": "Discover Card"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 577748.3600000013,
                      "tenddesc_tender": "EBT FOOD (SNAP)"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 63968.43999999998,
                      "tenddesc_tender": "American Express"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 60053.360000000015,
                      "tenddesc_tender": "Other"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 5317.000000000001,
                      "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 25224.81000000001,
                      "tenddesc_tender": "Organization Charge"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 16968.16,
                      "tenddesc_tender": "Discover/Debit"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 87.74000000000001,
                      "tenddesc_tender": "Debit Card"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 3390.6899999999996,
                      "tenddesc_tender": "DG ICM Gift Card Tender"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 682.73,
                      "tenddesc_tender": "Charged Sales"
                    },
                    {
                      "fweek_calendar": 52,
                      "sales_sales": 15,
                      "tenddesc_tender": "Coupon"
                    }
                  ]
                },
                "examples": {
                  "success response": {
                    "value": [
                      {
                        "sales_baskets": 6671844,
                        "sales_sales": 36074157.85999934,
                        "sales_stores": 19999,
                        "sales_units": 11037691,
                        "tenddesc_tender": "Visa/Debit"
                      },
                      {
                        "sales_baskets": 5756543,
                        "sales_sales": 28830727.209699344,
                        "sales_stores": 19977,
                        "sales_units": 9077790,
                        "tenddesc_tender": "Cash"
                      },
                      {
                        "sales_baskets": 3207127,
                        "sales_sales": 17638774.23999962,
                        "sales_stores": 19977,
                        "sales_units": 5388836,
                        "tenddesc_tender": "MasterCard/Debit"
                      },
                      {
                        "sales_baskets": 1782824,
                        "sales_sales": 10939140.369999943,
                        "sales_stores": 19798,
                        "sales_units": 3409283,
                        "tenddesc_tender": "EBT FOOD (SNAP)"
                      },
                      {
                        "sales_baskets": 1894124,
                        "sales_sales": 10561366.020000024,
                        "sales_stores": 19982,
                        "sales_units": 3238294,
                        "tenddesc_tender": "Visa"
                      },
                      {
                        "sales_baskets": 1259164,
                        "sales_sales": 6980325.800000052,
                        "sales_stores": 19945,
                        "sales_units": 2136829,
                        "tenddesc_tender": "MasterCard"
                      },
                      {
                        "sales_baskets": 202153,
                        "sales_sales": 1161114.2299999984,
                        "sales_stores": 19298,
                        "sales_units": 354604,
                        "tenddesc_tender": "Discover Card"
                      },
                      {
                        "sales_baskets": 135306,
                        "sales_sales": 785513.3399999997,
                        "sales_stores": 19135,
                        "sales_units": 237514,
                        "tenddesc_tender": "American Express"
                      },
                      {
                        "sales_baskets": 72157,
                        "sales_sales": 428713.11999999994,
                        "sales_stores": 10644,
                        "sales_units": 132520,
                        "tenddesc_tender": "Other"
                      },
                      {
                        "sales_baskets": 52355,
                        "sales_sales": 313282.98000000004,
                        "sales_stores": 10169,
                        "sales_units": 96780,
                        "tenddesc_tender": "Organization Charge"
                      },
                      {
                        "sales_baskets": 37486,
                        "sales_sales": 204119.65999999997,
                        "sales_stores": 6140,
                        "sales_units": 62276,
                        "tenddesc_tender": "Discover/Debit"
                      },
                      {
                        "sales_baskets": 10158,
                        "sales_sales": 56634.46000000001,
                        "sales_stores": 4458,
                        "sales_units": 17999,
                        "tenddesc_tender": "EBT CASH (Ancillary Benefits)"
                      },
                      {
                        "sales_baskets": 10871,
                        "sales_sales": 49539.91,
                        "sales_stores": 7091,
                        "sales_units": 17854,
                        "tenddesc_tender": "DG ICM Gift Card Tender"
                      },
                      {
                        "sales_baskets": 548,
                        "sales_sales": 7529.970000000003,
                        "sales_stores": 275,
                        "sales_units": 2514,
                        "tenddesc_tender": "Charged Sales"
                      },
                      {
                        "sales_baskets": 208,
                        "sales_sales": 1183.5600000000002,
                        "sales_stores": 154,
                        "sales_units": 357,
                        "tenddesc_tender": "Debit Card"
                      },
                      {
                        "sales_baskets": 19,
                        "sales_sales": 154.61000000000004,
                        "sales_stores": 8,
                        "sales_units": 64,
                        "tenddesc_tender": "Coupon"
                      },
                      {
                        "sales_baskets": 7,
                        "sales_sales": 36.56,
                        "sales_stores": 5,
                        "sales_units": 14,
                        "tenddesc_tender": "Check"
                      },
                      {
                        "sales_baskets": 2,
                        "sales_sales": 6.5,
                        "sales_stores": 2,
                        "sales_units": 4,
                        "tenddesc_tender": "Gift Card Tender"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/beta-20.05/api/cip.dev.v4_15.misc.rb3.api.momos/top10:json.keyed": {
      "post": {
        "tags": [
          "Tender Type Analysis"
        ],
        "summary": "Top Items",
        "description": "Top Items",
        "operationId": "topItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "object",
                    "properties": {
                      "dates": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "array",
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "l13"
                                },
                                "example": [
                                  "l13"
                                ]
                              },
                              "example": [
                                [
                                  "l13"
                                ]
                              ]
                            }
                          }
                        },
                        "example": [
                          {
                            "value": [
                              [
                                "l13"
                              ]
                            ]
                          }
                        ]
                      },
                      "filters": {
                        "type": "object",
                        "properties": {
                          "product": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "col": {
                                  "type": "string",
                                  "example": "class"
                                },
                                "ops": {
                                  "type": "string",
                                  "example": "="
                                },
                                "path": {
                                  "type": "string",
                                  "example": ""
                                },
                                "values": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "1142"
                                  },
                                  "example": [
                                    "1142"
                                  ]
                                }
                              }
                            },
                            "example": [
                              {
                                "col": "class",
                                "ops": "=",
                                "path": "",
                                "values": [
                                  "1142"
                                ]
                              }
                            ]
                          }
                        }
                      },
                      "groups": {
                        "type": "object",
                        "properties": {
                          "col": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "col_dims": {
                            "type": "object",
                            "properties": {}
                          },
                          "rollup": {
                            "type": "object",
                            "properties": {
                              "col": {
                                "type": "string",
                                "example": "0"
                              },
                              "row": {
                                "type": "string",
                                "example": "0"
                              }
                            }
                          },
                          "row": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "psku"
                            },
                            "example": [
                              "psku",
                              "tenddesc"
                            ]
                          },
                          "row_dims": {
                            "type": "object",
                            "properties": {
                              "product": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "psku"
                                },
                                "example": [
                                  "psku"
                                ]
                              },
                              "tender": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "tenddesc"
                                },
                                "example": [
                                  "tenddesc"
                                ]
                              }
                            }
                          }
                        }
                      },
                      "metrics": {
                        "type": "object",
                        "properties": {
                          "sales": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string",
                                  "example": "sales"
                                }
                              }
                            },
                            "example": [
                              {
                                "value": "sales"
                              }
                            ]
                          }
                        }
                      },
                      "report": {
                        "type": "object",
                        "properties": {
                          "chg": {
                            "type": "string",
                            "example": "pct"
                          },
                          "sort": {
                            "type": "string",
                            "example": "period"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Top Items": {
                  "value": {
                    "input": {
                      "dates": [
                        {
                          "value": [
                            [
                              "l13"
                            ]
                          ]
                        }
                      ],
                      "filters": {
                        "product": [
                          {
                            "col": "class",
                            "ops": "=",
                            "path": "",
                            "values": [
                              "1142"
                            ]
                          }
                        ]
                      },
                      "groups": {
                        "col": [],
                        "col_dims": {},
                        "rollup": {
                          "col": "0",
                          "row": "0"
                        },
                        "row": [
                          "psku",
                          "tenddesc"
                        ],
                        "row_dims": {
                          "product": [
                            "psku"
                          ],
                          "tender": [
                            "tenddesc"
                          ]
                        }
                      },
                      "metrics": {
                        "sales": [
                          {
                            "value": "sales"
                          }
                        ]
                      },
                      "report": {
                        "chg": "pct",
                        "sort": "period"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success response",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "252"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 27 Feb 2024 18:08:58 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=18000"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "psku_product": {
                        "type": "string",
                        "example": "20652804"
                      },
                      "sales_sales": {
                        "type": "number",
                        "example": 821008.8300000004
                      },
                      "tenddesc_tender": {
                        "type": "string",
                        "example": "Visa/Debit"
                      }
                    }
                  },
                  "example": [
                    {
                      "psku_product": "20652804",
                      "sales_sales": 821008.8300000004,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "psku_product": "20652804",
                      "sales_sales": 815331.7900000006,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "psku_product": "11437605",
                      "sales_sales": 806075.8399999997,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "psku_product": "00838802",
                      "sales_sales": 730563.3299999982,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "psku_product": "00834811",
                      "sales_sales": 671461.5500000006,
                      "tenddesc_tender": "Cash"
                    },
                    {
                      "psku_product": "00834811",
                      "sales_sales": 644152.56,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "psku_product": "01858904",
                      "sales_sales": 626419.389999999,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "psku_product": "00836505",
                      "sales_sales": 583825.3199999989,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "psku_product": "01858506",
                      "sales_sales": 583802.0299999999,
                      "tenddesc_tender": "Visa/Debit"
                    },
                    {
                      "psku_product": "00836505",
                      "sales_sales": 559523.8499999993,
                      "tenddesc_tender": "Cash"
                    }
                  ]
                },
                "examples": {
                  "success response": {
                    "value": [
                      {
                        "psku_product": "20652804",
                        "sales_sales": 821008.8300000004,
                        "tenddesc_tender": "Visa/Debit"
                      },
                      {
                        "psku_product": "20652804",
                        "sales_sales": 815331.7900000006,
                        "tenddesc_tender": "Cash"
                      },
                      {
                        "psku_product": "11437605",
                        "sales_sales": 806075.8399999997,
                        "tenddesc_tender": "Visa/Debit"
                      },
                      {
                        "psku_product": "00838802",
                        "sales_sales": 730563.3299999982,
                        "tenddesc_tender": "Visa/Debit"
                      },
                      {
                        "psku_product": "00834811",
                        "sales_sales": 671461.5500000006,
                        "tenddesc_tender": "Cash"
                      },
                      {
                        "psku_product": "00834811",
                        "sales_sales": 644152.56,
                        "tenddesc_tender": "Visa/Debit"
                      },
                      {
                        "psku_product": "01858904",
                        "sales_sales": 626419.389999999,
                        "tenddesc_tender": "Visa/Debit"
                      },
                      {
                        "psku_product": "00836505",
                        "sales_sales": 583825.3199999989,
                        "tenddesc_tender": "Visa/Debit"
                      },
                      {
                        "psku_product": "01858506",
                        "sales_sales": 583802.0299999999,
                        "tenddesc_tender": "Visa/Debit"
                      },
                      {
                        "psku_product": "00836505",
                        "sales_sales": 559523.8499999993,
                        "tenddesc_tender": "Cash"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/beta-20.05/api/cip.dev.v4_15.misc.rb3.api.metrics/fact_guide:json.keyed": {
      "post": {
        "tags": [
          "Metadata"
        ],
        "summary": "Metric Tables",
        "description": "Metric Tables",
        "operationId": "metricTables",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "object",
                    "properties": {
                      "metrics": {
                        "type": "object",
                        "properties": {
                          "sales": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string",
                                  "example": "sales"
                                }
                              }
                            },
                            "example": [
                              {
                                "value": "sales"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Metric Tables": {
                  "value": {
                    "input": {
                      "metrics": {
                        "sales": [
                          {
                            "value": "sales"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metrics",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "45"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 01 Apr 2024 04:53:47 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=18000"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fact_table_type": {
                        "type": "string",
                        "example": "sales"
                      },
                      "label": {
                        "type": "string",
                        "example": "Sales"
                      }
                    }
                  },
                  "example": [
                    {
                      "fact_table_type": "sales",
                      "label": "Sales"
                    }
                  ]
                },
                "examples": {
                  "Metrics": {
                    "value": [
                      {
                        "fact_table_type": "sales",
                        "label": "Sales"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/beta-20.05/api/cip.dev.v4_15.misc.rb3.api.metrics/metrics_guide:json.keyed": {
      "post": {
        "tags": [
          "Metadata"
        ],
        "summary": "Metrics",
        "description": "Metrics",
        "operationId": "metrics",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "object",
                    "properties": {
                      "metrics": {
                        "type": "object",
                        "properties": {
                          "sales": {
                            "type": "array",
                            "items": {},
                            "example": []
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Metrics": {
                  "value": {
                    "input": {
                      "metrics": {
                        "sales": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success response",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "1054"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 01 Apr 2024 04:56:49 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=18000"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fact_table_type": {
                        "type": "string",
                        "example": "sales"
                      },
                      "format": {
                        "type": "string",
                        "example": "type:num;dec:2"
                      },
                      "label": {
                        "type": "string",
                        "example": "Sales $"
                      },
                      "name": {
                        "type": "string",
                        "example": "sales"
                      },
                      "report_guide": {
                        "type": "string",
                        "example": "Total dollar sales of the selected product over the date range and across all selected stores. This is net of promotional discounts but does not reflect manufacturer coupons or rebates."
                      }
                    }
                  },
                  "example": [
                    {
                      "fact_table_type": "sales",
                      "format": "type:num;dec:2",
                      "label": "Sales $",
                      "name": "sales",
                      "report_guide": "Total dollar sales of the selected product over the date range and across all selected stores. This is net of promotional discounts but does not reflect manufacturer coupons or rebates."
                    },
                    {
                      "fact_table_type": "sales",
                      "format": "type:num;dec:0",
                      "label": "Units",
                      "name": "units",
                      "report_guide": "Total unit sales of the selected product over the date range and across all selected stores. For random weight items each purchase is counted as one unit regardless of weight."
                    },
                    {
                      "fact_table_type": "sales",
                      "format": "type:num;dec:0",
                      "label": "Baskets",
                      "name": "baskets",
                      "report_guide": "Number of baskets with at least one unit of the selected product over the date range and across all selected stores."
                    },
                    {
                      "fact_table_type": "sales",
                      "format": "type:num;dec:0",
                      "label": "Stores`Selling",
                      "name": "stores",
                      "report_guide": "Number of stores with at least one unit sold of the product and store grouping corresponding to this row for the indicated date range. This is a measure of distribution"
                    },
                    {
                      "fact_table_type": "sales",
                      "format": "type:num;dec:2",
                      "label": "Extended`PLU Price",
                      "name": "xpluprice",
                      "report_guide": " however it can be misleading for slow moving items if the date range is short or if the item may be on a special promotions in stores that do not normally stock it."
                    },
                    {
                      "fact_table_type": "sales",
                      "format": "type:num;dec:2",
                      "label": "Weeks",
                      "name": "weeks",
                      "report_guide": "Total dollar sales if the selected product were sold at PLU price for all transactions within the selected time frame and across all selected stores. PLU price represents the price ahead of discounts."
                    },
                    {
                      "fact_table_type": "sales",
                      "format": "type:num;dec:2",
                      "label": "Units`/Basket",
                      "name": "units_pt",
                      "report_guide": "Number of weeks included in the selected date range."
                    },
                    {
                      "fact_table_type": "sales",
                      "format": "type:num;dec:2",
                      "label": "Sales $`/Basket",
                      "name": "sales_pt",
                      "report_guide": "Average number of units of the selected product in a basket (among baskets with at least one unit of the selected product)."
                    },
                    {
                      "fact_table_type": "sales",
                      "format": "type:num;dec:2",
                      "label": "Units/`Store/`Week",
                      "name": "units_psw",
                      "report_guide": "Average dollars of the selected product in a basket (among baskets with at least one unit of the selected product)."
                    },
                    {
                      "fact_table_type": "sales",
                      "format": "type:num;dec:2",
                      "label": "Sales/`Store/`Week",
                      "name": "sales_psw",
                      "report_guide": "Unit sales on a per store per week basis. This is calculated by taking the total unit sales for the item divided by (the number of stores X number of weeks). It includes promoted and non-promoted sales. This measure is often used as input to replenishment systems."
                    },
                    {
                      "fact_table_type": "sales",
                      "format": "type:num;dec:2",
                      "label": "Avg`Retail",
                      "name": "avgretail",
                      "report_guide": "Sales $ on a per store per week basis. This is calculated by taking the total Sales $ for the item/(the number of stores x the number of weeks). It includes both promoted and non-promoted sales."
                    },
                    {
                      "fact_table_type": "sales",
                      "format": "type:num;dec:2",
                      "label": "Avg. PLU`Price",
                      "name": "avgplu",
                      "report_guide": "Average price per unit for the selected products in the date range. If product is a random weight item this is on a per purchase basis"
                    },
                    {
                      "fact_table_type": "cws",
                      "format": "type:pct;dec:2",
                      "label": "Sell Through %",
                      "name": "sell_thru",
                      "report_guide": " not per unit of measure."
                    },
                    {
                      "fact_table_type": "cws",
                      "format": "type:num;dec:2",
                      "label": "Potential Lost`Sales $",
                      "name": "potential_lost_sales",
                      "report_guide": "Average price look up (includes regional zone pricing adjustments) across a given grouping level and time period. Item PLU detail is only available when grouping on the item level (i.e."
                    }
                  ]
                },
                "examples": {
                  "success response": {
                    "value": [
                      {
                        "fact_table_type": "sales",
                        "format": "type:num;dec:2",
                        "label": "Sales $",
                        "name": "sales",
                        "report_guide": "Total dollar sales of the selected product over the date range and across all selected stores. This is net of promotional discounts but does not reflect manufacturer coupons or rebates."
                      },
                      {
                        "fact_table_type": "sales",
                        "format": "type:num;dec:0",
                        "label": "Units",
                        "name": "units",
                        "report_guide": "Total unit sales of the selected product over the date range and across all selected stores. For random weight items each purchase is counted as one unit regardless of weight."
                      },
                      {
                        "fact_table_type": "sales",
                        "format": "type:num;dec:0",
                        "label": "Baskets",
                        "name": "baskets",
                        "report_guide": "Number of baskets with at least one unit of the selected product over the date range and across all selected stores."
                      },
                      {
                        "fact_table_type": "sales",
                        "format": "type:num;dec:0",
                        "label": "Stores`Selling",
                        "name": "stores",
                        "report_guide": "Number of stores with at least one unit sold of the product and store grouping corresponding to this row for the indicated date range. This is a measure of distribution"
                      },
                      {
                        "fact_table_type": "sales",
                        "format": "type:num;dec:2",
                        "label": "Extended`PLU Price",
                        "name": "xpluprice",
                        "report_guide": " however it can be misleading for slow moving items if the date range is short or if the item may be on a special promotions in stores that do not normally stock it."
                      },
                      {
                        "fact_table_type": "sales",
                        "format": "type:num;dec:2",
                        "label": "Weeks",
                        "name": "weeks",
                        "report_guide": "Total dollar sales if the selected product were sold at PLU price for all transactions within the selected time frame and across all selected stores. PLU price represents the price ahead of discounts."
[...]
